.main {
    background-color: #fff;
    padding: 1.25em;
    width: 100%;
    max-width: 37.5em;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 2em;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.erro {
    color: red;
    text-align: center;
    margin-top: 20px;
}

.campanha-titulo {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    color: #000000;

}

.rifas-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 2em;
}

.bilhete {
    display: flex;


    border: 0.2em solid #8c00ff;
    border-radius: 8px;
    background: linear-gradient(135deg, #1a1a3a, #2a2a4d);
    box-shadow: 0 0 12px rgba(140, 0, 255, 0.4);
    overflow: hidden;
    position: relative;
}



.canhoto {
    flex: 1;
    justify-content: center;
    align-self: center;
    padding: 10px;
    border-right: 2px dashed #bbb;
    color: #e0e0ff;
    position: relative;
    z-index: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.carne {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 5em;
    margin-right: 5em;
    padding: 0.7em;
    color: #f5f5ff;
    text-align: center;
    gap: 0.5em;
}

.carne .numeroRifa {
    color: #2ccdfa;
}

.carne img {
    width: 40px;
    height: 40px;
    margin-top: 0.5em;
    filter: drop-shadow(0 0 4px #8c00ff);
}



.canhoto p {
    margin: 0.25em 0;
    font-size: 14px;
}

@media print {
    body * {
        visibility: hidden;
    }

    .rifas-container,
    .rifas-container * {
        visibility: visible;
    }

    .rifas-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    .bilhete {
        box-shadow: 0 0 12px rgba(140, 0, 255, 0.4);
        border: 0.2em solid #8c00ff;
        background: linear-gradient(135deg, #1a1a3a, #2a2a4d);
        color: #f5f5ff;
    }

    .carne .numeroRifa {
        color: #2ccdfa;
    }

    .carne img {
        display: block;
    }
}